.gallery {
  height: 510px;
}

.previewImage {
  width: 610px;
  height: 511px;

  object-fit: cover;
}

.nameBlock {
  font-size: 30px;
  line-height: 27px;

  color: #1d1f22;
}

.firstName {
  font-weight: 600;
}
