.root {
  position: relative;

  display: grid;
  overflow: hidden;

  height: 100vh;

  grid-template-rows: auto 1fr;
}

.secondRow {
  position: relative;

  overflow: hidden;
}

.secondRowContentWrapper {
  overflow-y: auto;

  height: 100%;
}
